In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
#Chrome driver set up
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Get LATEST driver version for 91.0.4472
Trying to download new driver from https://chromedriver.storage.googleapis.com/91.0.4472.101/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\becky\.wdm\drivers\chromedriver\win32\91.0.4472.101]

##  NASA Mars News

In [3]:
#Visit NASA site
url = 'https://www.redplanetscience.com'
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html,'html.parser')
result = soup.find('div', class_='list_text')

# Identify and return title of listing
article_title = result.find('div', class_='content_title').text
# Identify and return article summary
article_summary = result.find('div', class_='article_teaser_body').text

# Print results
print(article_title)
print()
print(article_summary)

Global Storms on Mars Launch Dust Towers Into the Sky

A Mars Dust Tower Stands Out Dust storms are common on Mars. But every decade or so, something unpredictable happens: a series of runaway storms break out, covering the entire planet in a dusty haze.

##  JPL Mars Space Images - Featured Image

In [5]:
# Visit site
jpl_url = 'https://spaceimages-mars.com/'
browser.visit(jpl_url)

In [6]:
# Parse html
html1 = browser.html
soup = bs(html1,'html.parser')

# Locate featured image
results = soup.find('div', class_='floating_text_area')
featured_image_url = results.find('a')['href']

# Concatinate for complete URL
featured_image_url1 = jpl_url + featured_image_url
featured_image_url1

'https://spaceimages-mars.com/image/featured/mars1.jpg'

##  Mars Facts

In [7]:
# Visit Site
mars_facts_url = 'https://galaxyfacts-mars.com/'
browser.visit(mars_facts_url)

In [8]:
# Parse html
html2 = browser.html
soup = bs(html2,'html.parser')

#read table from mars facts url
tables = pd.read_html(mars_facts_url)
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [9]:
#create dataframe from table
mars_facts = tables[0]

#Clean up df
mars_facts.columns =mars_facts.iloc[0]
mars_facts_df = mars_facts[1:]
mars_facts_df.set_index('Mars - Earth Comparison', inplace=True)
mars_facts_df

0                                   Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [10]:
# Save dataframe as html file
html_table = mars_facts_df.to_html(justify="left", classes="table table-striped")

##  Mars Hemispheres

In [16]:
# Visit site
mars_hemisphere_url = 'https://marshemispheres.com/'
browser.visit(mars_hemisphere_url)

In [17]:
# Parse html
html = browser.html
soup = bs(html,'html.parser')

# Scrape site for needed info
results = soup.find_all('div', class_='item')

# Create empty list to store data 
hemisphere_image_urls = []

# Loop through returned results
for result in results:  
    # Error handling
    try:        
        # Identify and return title 
        hemisphere_title = result.find('h3').text
        # Identify and page link
        hemisphere_page = result.find('a', class_='itemLink product-item')['href']
        # Concatinate to get complete URL for img
        hemisphere_img_url = mars_hemisphere_url + hemisphere_page
        
        # scrape img_url to get full size image url
        browser.visit(hemisphere_img_url)
        html = browser.html
        soup = bs(html,'html.parser')
        full_hem_img = soup.find_all('a', href=True)[3]['href']
        
        #Concatinate for final dictionary
        full_hem_img1 = mars_hemisphere_url + full_hem_img
        print(full_hem_img1)
        # Run only if title and page are available
        if (hemisphere_title and hemisphere_page):
            # create document for dictionary
            url = {"title": hemisphere_title, "img_url": full_hem_img1}

            #append dictionary
            hemisphere_image_urls.append(url)
    
    except Exception as e:
        print(e)

https://marshemispheres.com/images/full.jpg
https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg
https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg
https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg
[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]